
.category{

    position: relative;
    height: 500px;
    overflow: hidden;
    transition: all 0.3s ease;
    
    &:hover::after{
        transform: scale(1.1);
        transition: all 2s ease;
    }
    &:hover::before{
        left: 0;
        transition: all .3s ease;
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center center;
        background-size: cover;
        transition: all 0.3s ease;
        z-index: -2;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        bottom: 0;
        right: 0;
        background-position: center center;
        background-color: rgba(black, .4);
        transition: all 0.3s ease;
        z-index: -1;
    }
    &:first-of-type{

        &::after{
            background-image: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
        }
    }
    &:nth-of-type(2){
        &::after{
            background-image: url("https://images.unsplash.com/photo-1631718051263-c567dca19362?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=591&q=80");
        }
   
    }
    &:nth-of-type(3){
        height: 600px;

        &::after{
            background-image: url("https://images.unsplash.com/photo-1612539466296-4ecf1db303e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=943&q=80");
        }
    }

    .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(black, .3);
        h1{
            color: #8bd122;
            span{
                font-family: 'Lilita One', cursive;
                color: white;
            }
        }
        
    }
}