// nav{
//     position: relative;
//     //general
//     background-color: black !important;
//     a, i{
//         &:hover{
//             color:#8bd122 !important;
//             transition: all 0.3s ease !important;
//         }
//     }
//     a{
//         color: white !important;
//     }
//     img{
//         outline: 2px solid transparent;
//         &:hover{
//             outline: 2px solid #8bd122;
//             transition: all 0.3s ease;
//         }
//     }
//     i{
//         color: white !important;
//     }

//     .navbar-brand{
//         &.centered-brand{
//         position: absolute;
//         left: 50%;
//         transform:  translate(-50%, -50%);
//         top: 50%;
//     }
//     }
//     .dropdown{
//         .dropdown-menu{
//             background-color: black !important;
//             color: black !important;
//             margin-top: 11px;
//             width: 220px;
//             font-weight: bold;
//             text-align: center;
//         }
//     }
//     .profile{
//         border: 0;
//         background-color: transparent !important;
//         transition: all 0.3s ease;
//         &:focus-visible{
//             border: 0;
//             background-color: transparent !important;
//         }
//     }
// }


 nav{
     background-color: black;
     a,h2 , .nav-link{
        
        color: white !important;
        transition: all 0.3s ease !important;
        &:hover{
            color: #8bd122 !important;
        }
     }
    .input-group{
      margin-bottom: 0 !important;
      & .btn:focus{
          background-color: #8bd122;
      }
      button{
        background-color: #8bd122;
        border: #8bd122;
        &:hover{
            background-color: green
        }
     }
    }
    .dropdown-menu{
        a{
            color: black !important;
        }
            li{
                & a:hover{
                    background-color: #8bd122 !important;
                    
                }
            }
    }
    
    .navbar-toggler{
        padding: 0;
        .navbar-toggler-icon{
            // line-height: 2.5rem;
            position: relative;
            border-radius: 50%;
            border: 3px solid white;
            font-size: 1.5rem;
            i{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                color: white;
                padding-top: 2.5px;
            }
        }}
}
