


  
  
/*---------------------------------------------*/
.limiter{
    a {
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
    }
    
    a:focus {
        outline: none !important;
    }
    
    a:hover {
        text-decoration: none;
      color: #57b846;
    }
    
    /*---------------------------------------------*/
    h1,h2,h3,h4,h5,h6 {
        margin: 0px;
    }
    
    p {
        font-size: 14px;
        line-height: 1.7;
        color: #666666;
        margin: 0px;
    }
    
    ul, li {
        margin: 0px;
        list-style-type: none;
    }
    
    
    /*---------------------------------------------*/
    input {
        outline: none;
        border: none;
    }
    
    textarea {
      outline: none;
      border: none;
    }
    
    textarea:focus, input:focus {
      border-color: transparent !important;
    }
    
    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    input:focus::-moz-placeholder { color:transparent; }
    input:focus:-ms-input-placeholder { color:transparent; }
    
    textarea:focus::-webkit-input-placeholder { color:transparent; }
    textarea:focus:-moz-placeholder { color:transparent; }
    textarea:focus::-moz-placeholder { color:transparent; }
    textarea:focus:-ms-input-placeholder { color:transparent; }
    
    input::-webkit-input-placeholder { color: #999999; }
    input:-moz-placeholder { color: #999999; }
    input::-moz-placeholder { color: #999999; }
    input:-ms-input-placeholder { color: #999999; }
    
    textarea::-webkit-input-placeholder { color: #999999; }
    textarea:-moz-placeholder { color: #999999; }
    textarea::-moz-placeholder { color: #999999; }
    textarea:-ms-input-placeholder { color: #999999; }
    
    /*---------------------------------------------*/
    button {
        outline: none !important;
        border: none;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    iframe {
        border: none !important;
    }
    
    
    /*//////////////////////////////////////////////////////////////////
    [ Utility ]*/
    .txt1 {
      line-height: 1.5;
      color: #999999;
    }
    
    .txt2 {
      line-height: 1.5;
      color: #666666;
      font-weight: bold;
    
      i{
          font-size: 15px;
          vertical-align: middle;
      }
    }
    
    
    /*//////////////////////////////////////////////////////////////////
    [ login ]*/
    

    
    .container-login100 {
      width: 100%;  
      // min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      // background: #8bd122;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    
    }
    
    .wrap-login100 {
      width: 960px;
      background: rgba($color: #000000, $alpha: .6);
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 50px 95px 33px 95px;
    }
    
    /*------------------------------------------------------------------
    [  ]*/
    .login100-pic {
      width: 316px;
    }
    
    .login100-pic img {
      max-width: 100%;
    }
    
    
    /*------------------------------------------------------------------
    [  ]*/
    .login100-form {
      width: 350px;
    }
    
    .login100-form-title {
      font-family: 'Lilita One', cursive;
      font-size: 34px;
      color: #fff;
      letter-spacing: 2px;
      line-height: 1.2;
      text-align: center;
    
      width: 100%;
      display: block;
      padding-bottom: 54px;
    }
    
    
    /*---------------------------------------------*/
    .wrap-input100 {
      position: relative;
      width: 100%;
      z-index: 1;
      margin-bottom: 10px;
    }
    
    .input100 {
      font-size: 15px;
      line-height: 1.5;
      color: #fff;
    
      display: block;
      width: 100%;
      background: rgba(black, 0.5);
      height: 50px;
      border-radius: 25px;
      padding: 0 30px 0 68px;
    }
    
    .input-group{
      label{
        font-size: 20px;
        color: #8bd122;
      }
      input{
        margin-top: 8px;
        margin-left: 8px;
      }
    }
    /*------------------------------------------------------------------
    [ Focus ]*/
    .focus-input100 {
      display: block;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px 0px;
      color: rgba(87,184,70, 0.8);
    }
    
    .input100:focus + .focus-input100 {
      -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
      animation: anim-shadow 0.5s ease-in-out forwards;
    }
    
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;

  .login100-form-btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #8bd122 ;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background: black;
  }
  
  
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}
