.shop-now{
    .box{
        background-color:rgb(247, 247, 247) ;
        border-top: 3px solid rgb(139, 209, 34) ;
    }
    p{
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    h3{
        font-size: 2rem;
    }
    button{
        padding: 10px 40px;
        font-weight: bold;
        letter-spacing: 1px;
    }
}